#ops {
  text-align: center;
  font-size: 60px;
  margin-top: 80px;
  color: #0cd1e8;
}

#notfound {
  text-align: center;
  font-size: 18px;
}

#login {
  text-align: center;
  color: #bababa;
  font-size: 16px;
  padding: 8px;
}

#logreg {
  color: #0cd1e8;
  text-decoration: none;
}
