<ion-header id="header">
  <ion-toolbar color="secondary">
    <ion-row>
      <ion-button (click)="navigateBack()" fill="clear" id="home">
        <ion-icon slot="icon-only" name="home" id="backIcon"></ion-icon>
      </ion-button>
    </ion-row>
    <ion-row id="avatarWrapper">
      <ion-img id="avatar" src="../../assets/avatar.png"></ion-img>
    </ion-row>
    <ion-row id="username">
      <h4 id="usernameHeading">{{ username }}</h4>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size-lg="4" offset-lg="4">  
      <ion-card id="card">
        <ion-card-header>
          <h4 id="heading">Change password</h4>
        </ion-card-header>
        <ion-card-content id="content">
          <ion-input [(ngModel)]="oldPassword" class="forms" type="password" placeholder="Enter old password"></ion-input>
          <ion-input [(ngModel)]="newPassword" class="forms" type="password" placeholder="Enter new password" [disabled]="!correctPassword"></ion-input>
        </ion-card-content>
        <ion-button color="secondary" fill="clear" id="changePass" (click)="setNewPassword()">
          <ion-icon name="checkmark"></ion-icon>
          <span id="changeText">Change</span>
        </ion-button>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
