.weather {
  padding: 0px 0px 10px 5px;
  margin-top: 15px;
  border-radius: 10px;
}

#header {
  padding: 18px;
  background-color: #0cd1e8;
  color: #ffffff;
}

#topIcons {
  color: #ffffff;
  font-size: 25px;
}

#user {
  float: left;
  margin-left: 5px;
}

#logout {
  float: right;
  margin-right: 5px;
}

.row {
  justify-content: center;
  display: flex;
}

#weatherIcon {
  height: 100px;
  width: auto;
}

#temp {
  font-size: 50px;
  margin-left: 21px;
  margin-bottom: 0px;
  font-weight: lighter;
}

#iconPadding {
  padding-top: 25px;
  float: right;
}

.secondaryText {
  font-size: 15px;
  margin-left: 18px;
  font-weight: 300;
}

.secondaryNumbers {
  font-size: 17px;
  margin-left: 2px;
  font-weight: 400;
}

.icons {
  position: relative;
  top: 2px;
  left: 3px;
}

#city {
  font-size: 15px;
  margin-left: 18px;
  font-weight: 300;
}

#desc {
  text-align: center;
  font-size: 15px;
  font-weight: 300;
}

#cardContent {
  padding-left: 0px;
  padding-right: 0px;
}

#day {
  font-weight: 400;
  font-size: 50px;
  margin-top: 5px;
}

#month {
  font-weight: lighter;
  font-size: 50px;
  margin-top: 5px;
}

#date {
  margin-top: 5px;
  margin-bottom: 0px;
}

#holName {
  margin: 0px;
}

.calendarIcons {
  position: relative;
  top: 2px;
  right: 3px;
}
