.weather {
  padding: 0px 0px 10px 5px;
  margin-top: 0px;
}

#calendar {
  padding: 0px 15px 10px 15px;
  margin-top: 0px;
}

#header {
  padding: 18px;
  margin-bottom: 10px;
}

#user {
  float: left;
  margin-left: 5px;
}

#logout {
  float: right;
  margin-right: 5px;
}

#row {
  justify-content: center;
  display: flex;
}

#weatherIcon {
  height: 100px;
  width: auto;
}

#temp {
  font-size: 50px;
  margin-left: 19px;
  margin-bottom: 0px;
  font-weight: lighter;
}

#iconPadding {
  padding-top: 25px;
  float: right;
}

.secondaryText {
  font-size: 15px;
  margin-left: 18px;
  font-weight: 300;
}

.secondaryNumbers {
  font-size: 17px;
  margin-left: 2px;
  font-weight: 400;
}

.icons {
  position: relative;
  top: 2px;
  left: 3px;
}

#city {
  font-size: 15px;
  margin-left: 18px;
  font-weight: 300;
}

#desc {
  text-align: center;
  font-size: 15px;
  font-weight: 300;
}

#cardContent {
  padding-left: 0px;
  padding-right: 0px;
}

#day {
  font-weight: 400;
  font-size: 48px;
  margin-top: 5px;
  text-align: left;
}

#month {
  font-weight: lighter;
  font-size: 48px;
  margin-top: 5px;
  text-align: left;
}

#name {
  text-align: center;
}

#names {
  padding-top: 20px;
}

#back_01n {
  background-image: url("../../assets/weatherWallpapers/01n.jpg");
}

#back_01d {
  background-image: url("../../assets/weatherWallpapers/01d.jpg");
}

#back_02n {
  background-image: url("../../assets/weatherWallpapers/02n.jpg");
}

#back_02d {
  background-image: url("../../assets/weatherWallpapers/02d.jpg");
}

#back_03d {
  background-image: url("../../assets/weatherWallpapers/03d.jpg");
}

#back_03n {
  background-image: url("../../assets/weatherWallpapers/03n.jpg");
}

#back_04d {
  background-image: url("../../assets/weatherWallpapers/04d.jpg");
}

#back_04n {
  background-image: url("../../assets/weatherWallpapers/04n.jpg");
}

#back_09d {
  background-image: url("../../assets/weatherWallpapers/09d.jpg");
}

#back_09n {
  background-image: url("../../assets/weatherWallpapers/09n.jpg");
}

#back_10n {
  background-image: url("../../assets/weatherWallpapers/10n.jpg");
}

#back_10d {
  background-image: url("../../assets/weatherWallpapers/10d.jpg");
}

#back_11d {
  background-image: url("../../assets/weatherWallpapers/11d.jpg");
}

#back_11n {
  background-image: url("../../assets/weatherWallpapers/11n.jpg");
}

#back_13d {
  background-image: url("../../assets/weatherWallpapers/13d.jpg");
}

#back_13n {
  background-image: url("../../assets/weatherWallpapers/13n.jpg");
}

#back_50d {
  background-image: url("../../assets/weatherWallpapers/50d.jpg");
}

#back_50n {
  background-image: url("../../assets/weatherWallpapers/50n.jpg");
}
