<div id="header">
  <ion-button (click)="showProfile()" fill="clear" id="user">
    <ion-icon slot="icon-only" name="person" color="dark"></ion-icon>
  </ion-button>
  <ion-button (click)="logoutUser()" fill="clear" id="logout">
    <ion-icon slot="icon-only" name="log-out" color="dark"></ion-icon>
  </ion-button>
</div>

<ion-content>
  <ion-row id="row"> 
    <ion-col size-lg="5" size-xs="12" size-sm="12">
      <ion-card id="calendar" color="dark">
        <ion-card-content>
          <ion-row>
            <ion-col size="8">
              <p id="day">{{ day }}<span id="month">{{ month }}</span></p>
            </ion-col>
            <ion-col size="4" id="names">    
              <p *ngFor="let n of names" id="name">
                <ion-icon class="icons" name="calendar"></ion-icon>&nbsp;&nbsp;{{ n.name }}
              </p>  
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-lg="5" size-xs="12" size-sm="12">
      <ion-card class="weather" id="back_03d" color="dark" *ngIf="this.lon != undefined">
        <ion-card-content id="cardContent">
          <ion-row>
            <ion-col size="7">
              <p id="temp">{{ temperature }}°</p>
              <p class="secondaryText">
                <ion-icon class="icons" name="arrow-round-down" color="danger"></ion-icon>
                Min: <span class="secondaryNumbers">{{ min_temp }}°</span>
                <ion-icon class="icons" name="arrow-round-up" color="success"></ion-icon>
                Max: <span class="secondaryNumbers">{{ max_temp }}°</span>
              </p>
              <p class="secondaryText">
                <ion-icon class="icons" name="water" color="secondary"></ion-icon> 
                Humidity: <span class="secondaryNumbers">{{ humi }}%</span>
              </p>
              <span id="city">
                <ion-icon class="icons" name="pin"></ion-icon> {{ city }}
              </span>
            </ion-col>
            <ion-col size="5" id="iconPadding">
              <ion-img id="weatherIcon" src="{{ icon }}"></ion-img>
              <p id="desc">{{ desc }}</p>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
