<ion-header id="header">
  <ion-toolbar color="secondary">
    <ion-button (click)="showProfile()" fill="clear" id="user">
      <ion-icon slot="icon-only" name="person" id="topIcons"></ion-icon>
    </ion-button>
    <ion-button (click)="logoutUser()" fill="clear" id="logout">
      <ion-icon slot="icon-only" name="log-out" id="topIcons"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-row class="row">
    <p id="date"><span id="day">{{ day }}</span><span id="month">{{ month }}</span></p>
  </ion-row>
  <ion-row class="row" *ngFor="let n of names">
    <p id="holName">
      <ion-icon class="calendarIcons" name="calendar"></ion-icon>
      <span>{{ n.name }}</span>
    </p>
  </ion-row>
</ion-header>

<ion-content>
  <ion-row class="row"> 
    <ion-col size-lg="5" size-xs="12" size-sm="12">
      <ion-card class="weather" *ngIf="this.lon != undefined && this.weather == true" @fade>
        <ion-card-content id="cardContent">
          <ion-row>
            <ion-col size="7">
              <p id="temp">{{ temperature }}°</p>
              <p class="secondaryText">
                <ion-icon class="icons" name="arrow-round-down" color="danger"></ion-icon>
                Min: <span class="secondaryNumbers">{{ min_temp }}°</span>
                <ion-icon class="icons" name="arrow-round-up" color="success"></ion-icon>
                Max: <span class="secondaryNumbers">{{ max_temp }}°</span>
              </p>
              <p class="secondaryText">
                <ion-icon class="icons" name="water" color="secondary"></ion-icon> 
                Humidity: <span class="secondaryNumbers">{{ humi }}%</span>
              </p>
              <span id="city">
                <ion-icon class="icons" name="pin"></ion-icon> {{ city }}
              </span>
            </ion-col>
            <ion-col size="5" id="iconPadding">
              <ion-img id="weatherIcon" src="{{ icon }}"></ion-img>
              <p id="desc">{{ desc }}</p>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
