#title {
  text-align: center;
  margin-top: 10px;
}

.forms {
  margin-top: 8px;
}

.first {
  margin-top: 20px;
}

#register {
  float: right;
  margin-bottom: 10px;
}

#registerText {
  margin-left: 8px;
}

.registerText {
  font-size: 17px;
  color: #bababa;
}

#color {
  color: #0cd1e8;
  text-decoration: none;
}
